{% extends 'base.html.twig' %}



{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    
 

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
          <h1 class="display-3">Hello {{app.user.lastName}} {{app.user.firstName}}
          <ul class="navbar-nav ml-auto">
             
          </ul>
          {% else %}</h1>
         <h1 class="display-3">Hello World
          {% endif %}
        </div>
     

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        {% for news in lastNews %}
          <div class="col-md-4">
            <h2>{{news.title}}</h2>
            <p>{{news.content |u.truncate(100,'...')}} </p>
            <p><span class="text-muted">{{news.createdAt | ago}} - {{news.user.lastName}} {{news.user.firstName}}</span></p>
            <p><a class="btn btn-secondary" href="#" role="button">Voir plus </a></p>
          </div>
          {% endfor %}
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

   
    

{% endblock %}
