{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    
 

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">{{news.title}}</h1>
        </div>
     

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6">
            <p>{{news.content}} </p>
            <p><span class="text-muted">{{news.createdAt | ago}} - {{news.user.lastName}} {{news.user.firstName}}</span></p>
          </div>
        </div>
        <hr>
      </div> 

    </main>

   
    

{% endblock %}
